/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import 'bootstrap-styles';
@import 'bootstrap';
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

h1, h2 {
  text-align: center;
}

.sign-up {
  text-align: center;
  margin-top: 100px;
}

.timestamp {
  position: relative;
  top: 10px;
  left: 75%;
  text-decoration: italic;
  font-size: .75em;
}

.user-show {
  text-align: center;
}

body {
  background-color: $cyan;
  font-family: 'Didact Gothic';
}

.alert {
  border: dashed $linkColor 1px;
}